.p-datatable-responsive {
  width: auto;
  margin-top: 20px;
  overflow-x: auto;
}
.p-dialog {
  max-width: 90vw;
}

@media (max-width: 600px) {
  .p-field {
    flex-direction: column;
  }

  .p-table thead th, .p-table tbody td {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}

.icon-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  margin: 40px 40px 40px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.icon {
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon:hover {
  opacity: 1.8;
}

.search-input {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  width: 75%;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
}

.button-container {
  display: flex;
  margin-bottom: 10px;
  background-color:#EEEEEE ;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
}

.add-button {
  margin-right: 10px;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 1rem;
}

.left-buttons {
  padding: 15px;
  display: flex;
  align-items: center;
}

.right-buttons {
  display: flex;
  align-items: center;
}
