<p-table #dt [value]="products" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]"
         [globalFilterFields]="['name', 'category', 'price']" sortMode="multiple" class="p-datatable-responsive">

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Name
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="category">Category
        <p-sortIcon field="category"></p-sortIcon>
      </th>
      <th pSortableColumn="price">Price
        <p-sortIcon field="price"></p-sortIcon>
      </th>
      <th>Actions</th>
    </tr>
    <tr>
      <th>
        <input pInputText type="text" (input)="filterByName($event)" placeholder="Search by name">
      </th>
      <th>
        <input pInputText type="text" (input)="filterByCategory($event)" placeholder="Search by category">
      </th>
      <th>
        <input pInputText type="text" (input)="filterByPrice($event)" placeholder="Search by price">
      </th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.price | currency }}</td>
      <td>
        <div class="icon-buttons">
          <button pButton icon="pi pi-pencil" (click)="editProduct(product)" class="p-button-warning"></button>
          <button pButton icon="pi pi-trash" (click)="deleteProduct(product)" class="p-button-danger"
                  style="margin-left: 5px"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<button pButton label="Add product" icon="pi pi-plus" (click)="openNewProductDialog()"></button>

<p-dialog [(visible)]="productDialog" header="Product details" [modal]="true" [closable]="false"
          [responsive]="true" [style]="{width: '60vw'}">
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">Name</label>
      <div *ngIf="selectedProduct">
        <input id="name" [(ngModel)]="selectedProduct.name" type="text" pInputText/>
      </div>
    </div>
    <div class="p-field">
      <label for="category">Category</label>
      <div *ngIf="selectedProduct">
        <input id="category" [(ngModel)]="selectedProduct.category" type="text" pInputText/>
      </div>
    </div>
    <div class="p-field">
      <label for="price">Price</label>
      <div *ngIf="selectedProduct">
        <input id="price" [(ngModel)]="selectedProduct.price" type="number" pInputText/>
      </div>
    </div>
  </div>
  <footer>
    <button pButton label="Save" icon="pi pi-check" (click)="saveProduct()" class="p-button-text"></button>
    <button pButton label="Cancel" icon="pi pi-times" (click)="hideDialog()" class="p-button-text"></button>
  </footer>
</p-dialog>
