.p-datatable-responsive {
  width: 100%;
  overflow-x: auto;
}

.p-dialog {
  max-width: 90vw;
}

@media (max-width: 600px) {
  .p-field {
    flex-direction: column;
  }

  .p-table thead th, .p-table tbody td {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}

.icon-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-button {
  margin: 0;
}
