<header class="header">
  <div class="app-logo">
    <span class="app-name">{{ 'header.appName' | translate }}</span>
  </div>
  <nav class="nav-menu">
    <ul>
      <li><a href="#">{{ 'header.menu.home' | translate }}</a></li>
      <li><a href="#">{{ 'header.menu.services' | translate }}</a></li>
      <li><a href="#">{{ 'header.menu.contact' | translate }}</a></li>
    </ul>
  </nav>
  <div class="icon-container">
    <div>
      <img src="assets/icons/globe-icon.jpg" alt="Select Language" (click)="toggleLanguageMenu()"
           class="language-icon"/>
      <div *ngIf="showLanguageMenu" class="language-dropdown">
        <button (click)="switchLanguage('en')">English</button>
        <button (click)="switchLanguage('es')">Español</button>
      </div>
    </div>
    <div class="user-profile">
      <img src="assets/icons/user-icon.jpg" alt="User" class="user-icon"/>
      <div class="user-dropdown">
        <a href="#">{{ 'header.user.profile' | translate }}</a>
        <a href="#">{{ 'header.user.settings' | translate }}</a>
        <a href="#">{{ 'header.user.logout' | translate }}</a>
      </div>
    </div>
  </div>
</header>
